<!DOCTYPE html>
<html>
  <head>
    <title>RailsWonders2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= stylesheet_link_tag "https://unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/default.min.css" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <!-- component -->
  <!-- This is an example component -->
    <%= render "shared/header" %>
    <main class="container mx-auto mt-28 px-5 flex">

      <%= yield %>
    </main>
  </body>
</html>
